<div class="container">
<h1 class ="text-left">Experiences</h1>

<%# SEARCH FORM %>
<%= form_with url: results_path, method: :get, class: "d-flex justify-center mb-5" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "What do you want to do before you die?"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<%# FILTER %>
<%= render partial: "filter", locals: {categories: @categories}%>


<%# CARDS WITH EXPERIENCES %>
<%= render partial: "list_experiences", locals: {experiences: @experiences} %>
</div>
