<div class="blueback">
<div class="container text-center">
<div class="mt-3">
  <h2 class= "d-inline pt-5">Your personalized results based on</h2>
  <% if params[:query].present? %>
    <h6 class="d-inline"><%= params[:query] %></h6>
  <% else %>
    <h2 class="d-inline">the </h2>
    <h6 class="d-inline "><%= @category.name.downcase %></h6>
    <h2 class="d-inline"> category </h2>
  <% end %>
</div>

  <p class="text-grey">Select your experiences to add to your bucket list</p>
  <div class="row experiences">
    <% @experiences[0..5].each do |experience| %>
      <div class="col-12 col-lg-6 p-3" style="height: 300px width: 500px;">
        <%= link_to experience_path(experience), class:"text-decoration-none" do %>
          <div class="card-main fancy-card">
            <%= cl_image_tag experience.photo.key, class: "fancy-photo", style:"filter: brightness(80%);"%>
            <div class="content">
              <h5 class="title text-white">
                <%= experience.title %>
              </h5>
               <p class="copy text-body">
                <%= truncate(experience.description, length: 200, omission: '...') %>
              <p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
