<div class="container min-vh-100 px-5" id="show-experience">
  <div class="detail-container shadow-lg bg-white rounded-4">
    <div class="row pt-0">
      <div class="col pe-0">
        <%= cl_image_tag @experience.photo.key, class: "detail-img", style: "width: 600px; float: left" %>
      </div>
      <div class="col">
        <div class="row h-50 pt-0">
          <h2><%= @experience.title %></h2>
        </div>
        <div class="row h-50 align-items-center text-center">
          <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>
        </div>
      </div>
    </div>
  </div>
  <% @experience.categories.each do |category| %>
    <%= link_to results_path(category: category.id) do%>
      <p class="position-absolute start-2 top-2 text-light"><%= category.name %></p>
    <% end %>
  <% end %>
  <p class="p-3 ms-3"><%= @experience.description %></p>
</div>
</div>
</div>
