<div class="container bg-white">
  <h2><%= @experience.title %></h2>
  <% @experience.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag @experience.photo.key, style: "width: 100%;" %>
    </div>
    <div class="col-6">
    <p><%= @experience.description %></p>
    </div>
  </div>
      <div class="card">
        <% if user_signed_in?%>
          <%= render "experiences/taskform" %>
        <% else %>
          <%= form_with url: new_user_session_path, method: :get do |f| %>
            <%= f.hidden_field :experience_id, value: @experience.id, class: "d-none" %>
            <%= submit_tag "Please sign in first to add this experience to your bucketlist", class: "btn banner-btn mt-6" %>
          <% end %>
        <% end %>
      </div>
</div>
