<div class="container px-5 overflow-hidden" id="show-experience">
  <div class="detail-container shadow-lg rounded-4">
    <div class="row p-0 g-0">
      <div class="col pe-0">
        <%= cl_image_tag @experience.photo.key, class: "detail-img" %>
      </div>
      <div class="col px-3">
        <div class="row h-50 pt-0" style="z-index:1">
          <h2><%= @experience.title %></h2>
        </div>
        <div class="row h-50 g-0 align-items-center text-center">
          <div>
            <p><small class="text-muted">Can't wait to start this experience?</small></p>
            <button type="button" class="btn-main", style="z-index:1" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add to your bucket!
            </button>
            </button>
      <div class="col px-3 position-relative">
        <div class="row p-0">
          <h2><%= @experience.title %></h2>
          <div class="detail-text">
            <p class=""><%= @experience.description %></p>
          </div>
          <ul class="list-inline position-absolute bottom-0">
            <% @experience.categories.each do |category| %>
              <li class="list-inline-item">
                <%= link_to results_path(category: category.id), class: "detail-category" do%>
                  <%= category.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0 align-items-center text-center">
    <% if user_signed_in?%>
      <p><small class="text-muted">Can't wait to start this experience?</small></p>
      <button type="button" class="btn btn-primary w-100 rounded-4 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add to your bucket!
      </button>
      <%# <%= render "experiences/taskform" %> %>
    <% else %>
      <%= form_with url: new_user_session_path, method: :get do |f| %>
        <%= f.hidden_field :experience_id, value: @experience.id, class: "d-none" %>
        <%= submit_tag "Please sign in first to add this experience to your bucketlist", class: "btn btn-outline-secondary rounded-4" %>
      <% end %>
    <% end %>
  </div>
</div>
