<!-- Button trigger modal -->
<button type="button" class="btn-profile" data-bs-toggle="modal" data-bs-target="#task-<%=task.id %>">
  Challenge a friend
</button>

<!-- Modal -->
<div class="modal fade" id="task-<%=task.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="task-<%=task.id %>Label">Choose a friend to challenge!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%# SEARCH FORM %>
        <div data-controller="refresh-users-list" data-refresh-users-list-task-value="<%= task.id %>">
          <%= form_with url: user_user_tasks_path(current_user), method: :get, html: { class: "d-flex justify-content-center mb-1", data: { refresh_users_list_target: 'form' } } do %>
            <%= text_field_tag :query,
                               params[:query],
                               class: "form-control w-100",
                               placeholder: "Type a email" ,
                               data: {
                                    refresh_users_list_target: 'searchInput',
                                    action: "keyup->refresh-users-list#update"
                               };
            %>
          <% end %>
          <div data-refresh-users-list-target="list">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
