

<%# <div class="container"> %>

<div class="row justify-content-center" id="blueback" data-controller="complete-task" style="min-height:84vh">
    <div class="col-2 card m-1 card-main p-3 list-style: none rounded-3">
      <div class="filterby mb-4">
        <h3 class="h3-dash">FILTER BY</h3>
         <p>STATUS</p>

        <div class="filter" style="list-style: none;">
            <a href="#"><i class="fas fa-bullhorn"></i></a>
          <span>To do</span>
        </div>
        <div class="filter" style="list-style: none;">
            <a href="#"><i class="far fa-check-circle"></i></a>
          <span>Done</span>
        </div>

      <div class="mb-4">
      </div><p>DEADLINE</p>
        <div class="filter" style="list-style: none;">
            <a href="#"></a>
          <span>This week</span>
        </div>
        <div class="filter" style="list-style: none;">
            <a href="#"></i></a>
          <span>This month</span>
        </div>
      </div>



      <div class="mb-4">
        <p>CATEGORIES</p>
        <div class="filter" style="list-style: none;">
            <a href="#"><i class="fal fa-square"></i></a>
             <span>Culture</span>
        </div>

        <div class="filter" style="list-style: none;">
            <a href="#"><i class="fal fa-square"></i></a>
            <span>Food</span>
        </div>

        <div class="filter" style="list-style: none;">
            <a href="#"><i class="fa-light fa-square"></i></a>
            <span>Outdoors</span>
        </div>
        <div class="filter" style="list-style: none;">
            <a href="#"><i class="fa-light fa-square"></i></a>
            <span>Romance</span>
        </div>
        <div class="filter" style="list-style: none;">
            <a href="#"><i class="fa-light fa-square"></i></a>
            <span>Wildlife</span>
        </div>
      </div>
    </div>

    <div class="col-7 card m-1 card-main rounded-3 ">
      <%# <div class="m-2 card-main snip1336">
        <h4 class="p-2 justify-content-center border-bottom">FILTER BY</p>
      </div> %>

      <div>
        <h1 class="d-flex justify-content-center pt-4 ml-3 px-3 d-inline text-black"><%= @user.first_name.nil? ? "User!" : @user.first_name %>'s bucket-list</h1>
          <h3 class="h3-dash d-inline ms-4">Current list:</h3>
          <h6 class="d-inline ">33</h6>
          <h3 class="h3-dash d-inline"> tasks</h3>
      </div>
       <div>
        <main>
          <% @usertasks.each.with_index do |task, index| %>
            <div class="card-bucketlist">
                <div class="inner">
                  <%= render "checkboxform", task: task %>

                  <i class="fa-regular fa-bullseye-arrow"></i>
                  <% if task.task.deadline.present? %>
                    <p class="subtitle" id="deadline">Deadline: <%= task.task.deadline.to_formatted_s(:long) %> <p>
                  <% end %>
                  <% if task.task.penalty.present? %>
                    <p class="subtitle"><i class="fa-solid fa-fire"></i> <%= task.task.penalty%></p>
                  <% end %>
                  <%= link_to "See full experience", experience_path(task.task.experience) %>
                  <%= link_to "Delete",
                    user_task_path(task),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>

                </div>
            </div>
          <% end %>
        <main>
      </div>
    </div>

    <div class="col-2 card m-1 d-flex p-3 rounded-3 text-center">
      <%# <figure class="snip1336 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74" />
        <figcaption> %>
        <div>
          <% if @user.photo.key.present? %>
             <img src=<%= cl_image_path(@user.photo.key, width: 500, height: 500, crop: :thumb, gravity: :face) %> alt="profile-sample2" class="avatar-dash" />
          <% else %>
            <img src="https://media.istockphoto.com/photos/young-woman-ready-for-job-business-concept-picture-id1318482009" alt="profile-sample2" class="avatar-dash" />
          <% end %>
        </div>
          <h2 class="mt-2 mb-0">Hi, <%= @user.first_name.nil? ? "User!" : @user.first_name %></h2>
          <div class="wavy-line small"></div>
          <div class="bio-text mt-3"></i>  <%= @user.bio.nil? ? "Please add your bio!" : "#{@user.bio}" %>
          </div>

          <% if @completed == 0 %>
            <div class="mb-5">
              <p class="bio-text mt-3 mb-1">Your score:</p>
              <h6 class="d-inline">240</h6>
              <p class="bio-text mt-3 d-inline">points</p>
            </div>




          <% else %>
            <div> <p class="bio-text mt-4"> <i class="fa-regular fa-party-horn"></i>Congrats! You have <%= pluralize @completed, "bucket-list-tasks" %> completed!</p> </div>
          <% end %>

          <%# data-action: "change->complete-task#update" %>


          <div class="d-flex justify-content-end mb-4">
            <%= link_to "Update Profile", edit_user_path(@user), class: "btn-main" %>
          </div>

          <div class="dash-icons d-flex p-3 justify-content-center">
          <p class="bio-text mt-3">Share</p>
            <a class="border-0 p-2" href="#"><i class="fab fa-instagram"></i></a>
            <a class="border-0 p-2" href="#"><i class="fab fa-facebook"></i></a>
            <a class="border-0 p-2" href="#"><i class="fa fa-envelope"></i></a>
          </div>

        </figcaption>
      </figure>
    </div>
</div>
</div>
