<%# <div class="container"> %>
<div class="row justify-content-center" data-controller="complete-task" style="min-height:84vh">
  <div class="col-2 card m-2 card-main p-3 list-style: none ">
    <div class="mt-3 mb-4">
      <h3>FILTER BY</h3>
      <p>DEADLINE</p>
      <div class="filter" style="list-style: none;">
        <a href="#"><i class="fa fa-calendar"></i></a>
        <span>This week</span>
      </div>
      <div class="filter" style="list-style: none;">
        <a href="#"><i class="far fa-clock"></i></a>
        <span>This month</span>
      </div>
    </div>

    <div class="mb-4">
      <p>STATUS</p>
      <div class="filter" style="list-style: none;">
        <a href="#"><i class="fas fa-bullhorn"></i></a>
        <span>To do</span>
      </div>
      <div class="filter" style="list-style: none;">
        <a href="#"><i class="far fa-check-circle"></i></a>
        <span>Done</span>
      </div>
    </div>

    <div class="mb-4">
      <p>CATEGORIES</p>
      <div class="filter" style="list-style: none;">
        <a href="#"></a>
        <span>Culture</span>
      </div>

      <div class="filter" style="list-style: none;">
        <a href="#"></a>
        <span>Food</span>
      </div>

      <div class="filter" style="list-style: none;">
        <a href="#"></a>
        <span>Outdoors</span>
      </div>
      <div class="filter" style="list-style: none;">
        <a href="#"></a>
        <span>Romance</span>
      </div>
      <div class="filter" style="list-style: none;">
        <a href="#"></a>
        <span>Wildlife</span>
      </div>
    </div>
  </div>

  <div class="col-7 card m-1 card-main">
    <%# <div class="m-2 card-main snip1336">
        <h4 class="p-2 justify-content-center border-bottom">FILTER BY</p>
      </div> %>
    <div>
      <h1 class="d-flex justify-content-center ml-3 px-3 d-inline"> your bucket-list</h1>
      <h3 class="d-inline">Current list:</h3>
      <h6 class="d-inline ">#</h6>
      <h3 class="d-inline"> tasks </h3>
    </div>
    <div>
      <main>
        <% @usertasks.each.with_index do |task, index| %>
          <div class="card-bucketlist">
            <div class="inner">
              <%= render "checkboxform", task: task %>
              <i class="fa-regular fa-bullseye-arrow"></i>
              <p class="subtitle"><%=  task.task.deadline.to_formatted_s(:long) if task.task.deadline.present? %>
                <p>
                  <% if task.task.penalty.present? %>
                    <p class="subtitle"><i class="fa-solid fa-fire"></i> <%= task.task.penalty%></p>
                  <% end %>
                  <%= link_to "See full experience", experience_path(task.task.experience) %>
                  <%= link_to "Delete",
                    user_task_path(task),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                  <%= render 'user_tasks/challenge_friend_modal' %>
                </div>
              </div>
            <% end %>
            <main>
            </div>
          </div>

          <div class="col-2 card m-2 d-flex card-main">
            <figure class="snip1336 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74" />
              <figcaption>
                <% if @user.photo.key.present? %>
                  <img src=<%= cl_image_path(@user.photo.key, width: 500, height: 500, crop: :thumb, gravity: :face) %> alt="profile-sample2" class="profile" />
                <% else %>
                  <img src="https://media.istockphoto.com/photos/young-woman-ready-for-job-business-concept-picture-id1318482009" alt="profile-sample2" class="profile" />
                <% end %>

                <h2>Welcome, <%= @user.first_name.nil? ? "User!" : @user.first_name %></h2>
                <div class="mt-4">
                  <p><i class="fa-regular fa-address-card"></i>  <%= @user.bio.nil? ? "Please add your bio!" : "#{@user.bio}" %></p>
                </div>

                <% if @completed == 0 %>
                  <div>
                    <p class="mt-4"> <strong> Start working on your Bucket-List!</strong></p>
                  </div>
                <% else %>
                  <div>
                    <p class="mt-4"> <i class="fa-regular fa-party-horn"></i>Congrats! You have <%= pluralize @completed, "bucket-list-filter" %> completed!</p>
                  </div>
                <% end %>


                <div class="d-flex justify-content-end">
                  <%= link_to "Update Profile", edit_user_path(@user), class: "btn-main snip1336 btn-location" %>
                </div>

                <div class="d-flex p-1 justify-content-end">
                  <a class="border-0" href="#"><i class="fa-solid fa-twitter"></i></a>
                  <a class="border-0" href="#"><i class="fa-solid fa-linkedin"></i></a>
                  <a class="border-0" href="#"><i class="fa-solid fa-facebook"></i></a>
                </div>

              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- test -->

<div data-controller="refresh-users-list">

  <%= form_with url: user_user_tasks_path(current_user), method: :get, html: { class: "d-flex justify-content-center mb-1", data: { refresh_users_list_target: 'form' } } do %>
    <%= text_field_tag :query,
                               params[:query],
                               class: "form-control w-25 justify-content-center text-gray",
                               placeholder: "Type a email" ,
                               data: {
                                    refresh_users_list_target: 'searchInput',
                                    action: "keyup->refresh-users-list#update"
                               };
            %>
    <%= button_to 'Find', root_path, role: 'button', class: "btn-main" %>
  <% end %>
  <div data-refresh-users-list-target="list">
  </div>
</div>
