<div class="background-dash">
  <div class="row justify-content-center" style="min-height:84vh">
  <%# ------------ Left Column, gamification ----------------%>
    <div class="col-2 card m-1 card-main p-3 d-flex list-style: none rounded-3">
      <div class="filterby mb-4 mt-5">
        <div style="height:30px"></div>
        <div class="wavy-line small my-4"></div>
        <div data-controller="kpi" data-action="adjust-kpi@window->kpi#adjustText">
          <div data-kpi-target="kpitext">
            <% if @completed == 0 %>
              <h4 class="text-center mt-2 mb-4">No tasks <br> completed <br> yet!</h4>
              <div class="mb-2 text-center card rounded-3">
                <h3 class=" mt-3 mb-1">Your score:</h3>
                <h6 class="d-inline text-center" id="accent-info"><%= @completed * 100 %></h6>
                <h3 class="mt-1 mb-2 d-inline">points</h3>
              </div>
            <% else %>
              <h4 class="text-center mt-2 mb-4">Congrats! You completed <br><%= pluralize @completed, "adventure" %>!</h4>
              <div class="mb-2 text-center card rounded-3">
                <h3 class=" mt-3 mb-1">Your score:</h3>
                <h6 class="d-inline text-center" id="accent-info"><%= @completed * 100 %></h6>
                <h3 class="mt-1 mb-2 d-inline">points</h3>
              </div>
            <% end %>
          </div>
          <div data-controller="kpi" data-action="adjust-kpi@window->kpi#adjustBadge">
          <div data-kpi-target="badge">
            <% if @completed > 4 %>
              <div style="height:160px">
                <img src="https://res.cloudinary.com/elmette/image/upload/v1662562895/0794B1B6-58D0-44E2-A522-1135E53B3BEC_1_105_c_re5kll.jpg" alt="trophy", width: 180, class="img-center">
              </div>
                <h3 class="text-center">You're a real adventurer!</h3>
            <% elsif @completed ==0 %>
              <div style="height:150px d-flex justify-content-center">
                <img src="https://res.cloudinary.com/elmette/image/upload/v1662626891/4266181_oj41pv.png" alt="getstarted", width: 150, class="img-center-steps">
              </div>
              <h3 class="text-center mt-4">Let's get started!</h3>
            <% elsif @completed ==1 %>
            <div style="height:130px">
              <img src="https://res.cloudinary.com/elmette/image/upload/v1662561898/firststep_dl2eak.png" alt="firststep", width: 150, class="img-center-steps">
            </div>
            <h3 class="text-center mt-4 ">1st Task done, keep it up!</h3>
            <% else%>
              <div style="height:160px">
                <img src="https://res.cloudinary.com/elmette/image/upload/v1662626625/download_t1xn2f.png" alt="wizard", width: 150, class="img-center-steps">
              </div>
              <h3 class="text-center mt-4 ">You're rolling!</h3>
            <% end %>
          </div>
        </div>

        </div>
        <div class="wavy-line small my-4 position-sticky">
        </div>
      </div>
    </div>
    <%# ------------ Middle column, bucketlist ----------------%>
    <div class="col-7 card m-1 card-main rounded-3 ">
      <div>
        <h1 class="d-flex justify-content-center pt-4 ml-3 px-3 d-inline text-black"><%= @user.first_name.nil? ? "User!" : @user.first_name %>'s bucket list</h1>
        <div class ="d-flex d-inline justify-content-center ms-4">
           <%= link_to user_user_tasks_path, style:"text-decoration: none" do %>
            <div class="border filter px-3 me-1" style="list-style: none;">
              <i class="fa-sharp fa-solid fa-rotate-left"></i>
              <span>See all</span>
            </div>
          <% end %>

          <%= link_to user_user_tasks_path(status: false), style:"text-decoration: none" do %>
            <div class="border filter px-3 me-1" style="list-style: none;">
              <i class="fas fa-bullhorn"></i>
              <span>To do</span>
            </div>
          <% end %>

           <%= link_to user_user_tasks_path(status: true), style:"text-decoration: none" do %>
            <div class="border filter px-3 me-1" style="list-style: none;">
              <i class="far fa-check-circle"></i>
              <span>Done</span>
            </div>
          <% end %>
        </div>
      </div>

      <main>

        <div class="container p-0 m-0 overflow: hidden" id="show-bucket">
          <% @usertasks.each.with_index do |task, index| %>
            <div class="card-bucketlist px-0">
              <div class="inner">
                <nav class="navbar ms-auto p-0" id="togglebucket" style="z-index:1000; position: absolute; top: 10px; right: 12px;">
                    <button class="navbar-toggler p-0" style="border: 0px" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent-<%=task.id%>" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon" id="togglebucket-icon"></span>
                    </button>
                  <div class="container-fluid" id="togglebucket" index>
                  </div>
                  <div class="collapse" id="navbarToggleExternalContent-<%=task.id%>">
                    <div class="bg-success p-2 ms-3">
                      <%= link_to "Challenge a friend", experience_path(task.task.experience), class:"icon-link"%><br>
                      <%= link_to "More info", experience_path(task.task.experience), class:"icon-link"%><br>
                      <%= link_to "Delete",user_task_path(task),
                          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"icon-link"%>
                    </div>
                  </div>
                </nav>
                <%= render "checkboxform", task: task %>
                <i class="fa-regular fa-bullseye-arrow"></i>

              <div class="row w-100 p-0">
                <div class="col-6">
                  <% if task.task.deadline.present? %>
                    <p class="subtitle" id="deadline">Deadline: <%= task.task.deadline.to_formatted_s(:long) %><p>
                    <% end %>
                  </div>
                </div>
              <div class="row w-100 p-0">
                <div class="col-6">
                  <% if task.task.penalty.present? %>
                    <i class="fa-solid fa-fire d-inline"></i><p class="subtitle d-inline"> Penalty:&nbsp;<%= task.task.penalty%></p>
                    <% end %>
                  </div>
                  <% if UserTask.where(task_id: task.id).count == 2 %>
                    <div class="col-6">
                      <p style="display: inline">Shared with: $Invitee</p> <img src=<%= cl_image_path(@user.photo.key, width: 40, height: 40) %> class="avatar-challenger" />
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
              <%= render partial: 'user_tasks/challenge_friend_modal',locals: { task: task.task } %>
                      <%# = render 'user_tasks/challenge_friend_modal', task: task.task %>
              <% end %>
      <main>

              </div>
            </div>
    <%# ------------ Right column, Profile ----------------%>
    <div class="col-2 card m-1 card-main d-flex p-3 rounded-3 text-center">

              <div style="height:160px">
                <% if @user.photo.key.present? %>
                  <img src=<%= cl_image_path(@user.photo.key, width: 500, height: 500, crop: :thumb, gravity: :face) %> alt="profile-sample2" class="avatar-dash mt-4" />
                <% else %>
                  <img src="https://media.istockphoto.com/photos/young-woman-ready-for-job-business-concept-picture-id1318482009" alt="profile-sample2" class="avatar-dash" />
                <% end %>
              </div>
              <h2 class="mt-4 mb-2">Hi, <%= @user.first_name.nil? ? "User!" : @user.first_name %></h2>
              <div class="mb-2 text-center">
                <h3> Welcome Back! </h3>
              </div>
              <div class="wavy-line small mb-4">
              </div>
              <h3 class="mt-2"> Tasks waiting </h3>
              <div class="d-flex align-items-baseline justify-content-center">
                <h3 class=""> for you: </h3>
                <h6 class="ms-2" data-controller="kpi" data-action="adjust-kpi@window->kpi#adjustNumberOpen"><%=@open %></h6>
              </div>

              <div style="height:10px"></div>
              <div class="bio-text text-center">
                <i class="fa-regular fa-id-card mt-3" style="font-size: 1.5em"></i>
                <div class="mt-3">
                  <p class="text-center mb-3"><%= @user.bio.nil? ? "Please add your bio!" : "#{@user.bio}" %></p>
                </div>
              </div>
              <div class="dash-icons d-flex p-3 justify-content-center">
                <p class="bio-text mt-3">Share</p>
                <a class="border-0 p-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="border-0 p-2" href="#"><i class="fab fa-facebook"></i></a>
                <a class="border-0 p-2" href="#"><i class="fa fa-envelope"></i></a>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <%= link_to "Update Profile", edit_user_path(@user), class: "btn-profile w-100" %>
              </div>
    </div>
  </div>
</div>
